<section class="most-popular">
    <h1>Most Popular</h1>
    <div class="articles">
        <div class="main-articles">
            <article-thumbnail [article]="articleToDisplay[0].articles[0]"></article-thumbnail>
        </div>
        <div class="other-articles">
            <article-thumbnail [article]="articleToDisplay[0].articles[1]"></article-thumbnail>
            <article-thumbnail></article-thumbnail>
            <article-thumbnail></article-thumbnail>
            <article-thumbnail></article-thumbnail>
        </div>
    </div>
</section>

<section class="education">
    <h1>Education</h1>
</section>

<section class="elections">

</section>

<section class="bollywood">

</section>


<router-outlet></router-outlet>